.swiper {
    width: 80vw;
    height: 100%;

    .swiper-slide {
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;

        .swiper-image {
            max-width: 100%;
            height: 80vh;
        }
    }
}