<div class="standard-container">
    <div class="title">
        {{ 'SIDEBAR.REVIEWSSUB.VL' | translate}}
    </div>
    <p class="review">
        {{ 'REVIEWS.VL.TEXT_1' | translate}}
    </p>
    <p class="review">
        {{ 'REVIEWS.VL.TEXT_2' | translate}}
    </p>
    <p class="review">
        {{ 'REVIEWS.VL.TEXT_3' | translate}}
    </p>
    <p class="review">
        {{ 'REVIEWS.VL.TEXT_4' | translate}}
    </p>
    <p class="review">
        {{ 'REVIEWS.VL.TEXT_5' | translate}}
    </p>
    <div class="author"><i>{{ 'REVIEWS.VL.AUTHOR' | translate}}</i></div>
</div>