.standard-container {
    height: 100%;
    padding: 3rem 10rem;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.review {
    font-size: 18px;
    padding: 2rem 3rem;
}

.author {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: flex-end;
}

