@import "../../../../common";

.standard-container {
    height: 100%;
    padding: 3rem 8%;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.review {
    font-size: 18px;
    padding: 2rem 3rem;
    line-height: 28px;
    letter-spacing: .1rem;
}

.author {
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: flex-end;

    @include media-breakpoint-up(md) {
        padding: 1rem 0 2rem 0;
    }
}

