<ng-template #carouselModal let-carouselModal>
    <div class="row">
        <div class="col-12 d-flex flex-row-reverse">
            <a class="times-link" (click)="carouselModal.dismiss()">
                <fa-icon transform="grow-10" [icon]="faTimes"></fa-icon>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 85vh;">
            <ng-content></ng-content>
        </div>
    </div>
</ng-template>