@import "../../../common";

.sidebar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #A0B4D9;
    
    .title {
        display: none;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            font-size: 2.2rem;
            font-weight: 600;
            // font-family: Yellowtail;
            padding: 1rem 0 1rem 1.25rem;
            color: whitesmoke;
            white-space: nowrap;
        }

        .title-link {
            color: whitesmoke;
            cursor: pointer;
        }
    }

    .menu {
        margin-top: 1rem;
        padding: 0px 1.5rem;
        user-select: none;
    
        @include media-breakpoint-up(md) {
            margin-top: 2rem;
            padding: 0px 1.5rem;
        }

        .menu-item {
            padding-bottom: .5rem;

            .menu-item-title {
                cursor: pointer;
                font-size: 1.5rem;
                transition: color .2s linear;
                white-space: nowrap;

                &:hover {
                    color: #3E598C;
                }
            }

            .submenu {
                max-height: 0px;
                overflow: hidden;
                transition: max-height .3s ease-out;
        
                .submenu-item {
                    font-size: 1.1rem;
                    white-space: nowrap;
                    
                    div {
                        padding: .3rem 0 0 1rem;
                    }
                }
            }
        }
        
    }

    .contact {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        color: whitesmoke;

        .email {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            color: whitesmoke;
            cursor: pointer;
            transition: color .3s ease-out;
            white-space: nowrap;

            &:hover {
                color: #A0B4D9;
            }
        }

        .social-media {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            padding-bottom: .3rem;
            
            * {
                cursor: pointer;
                transition: color .3s ease-out;

                &:hover {
                    color: #A0B4D9;
                }
            }
        }
    }

    .language {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: .5rem;

        .flag {
            width: 24px;
            height: auto;
            cursor: pointer;
            transition: filter .3s ease-out;

            &:hover {
                filter: brightness(50%);
            }
        }

        .flag:not(:first-child) {
            margin-left: 15px;
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        font-size: .8rem;
        color: whitesmoke;
        white-space: nowrap;
    }
}

a {
    color: #A0B4D9;
    transition: color .2s linear;
    text-decoration: none;

    &:hover {
        color: #3E598C;
    }
}
