<div class="sidebar-container">
    <div class="title">
        <a class="title-link" routerLink="/">
            <div>Ljupka Erg</div>
        </a>
    </div>
    <div class="menu">
        <div class="menu-item">
            <a class="menu-item-title" routerLink="/gallery">
                <span>{{ 'SIDEBAR.GALLERY' | translate}}</span>
            </a>
        </div>
        <div class="menu-item">
            <span class="menu-item-title" (click)="toggleSubmenu(portfolioSubmenu)">
                {{ 'SIDEBAR.PORTFOLIO' | translate}}
            </span>
            <div #portfolioSubmenu class="submenu">
                <a class="submenu-item" routerLink="/portfolio/birds">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.BIRDS' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/dolls">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.DOLLS' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/flowers">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.FLOWERS' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/landscape">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.LANDSCAPE' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/murals">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.MURALS' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/novi-sad">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.NOVI_SAD' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/portrets">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.PORTRETS' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/portfolio/trees">
                    <div>{{ 'SIDEBAR.PORTFOLIOSUB.TREES' | translate}}</div>
                </a>
            </div>
        </div>
        <div class="menu-item">
            <span class="menu-item-title" (click)="toggleSubmenu(reviewSubmenu)">
                {{ 'SIDEBAR.REVIEWS' | translate}}
            </span>
            <div #reviewSubmenu class="submenu">
                <a class="submenu-item" routerLink="/reviews/imaginary-sceneries">
                    <div>{{ 'SIDEBAR.REVIEWSSUB.IS' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/reviews/vibrant-life">
                    <div>{{ 'SIDEBAR.REVIEWSSUB.VL' | translate}}</div>
                </a>
                <a class="submenu-item" routerLink="/reviews/konstrukcija-slika">
                    <div>{{ 'SIDEBAR.REVIEWSSUB.KS' | translate}}</div>
                </a>
            </div>
        </div>
        <div class="menu-item">
            <a class="menu-item-title" routerLink="/about">
                <span>{{ 'SIDEBAR.ABOUT' | translate}}</span>
            </a>
        </div>
    </div>
    <div class="contact">
        <div class="social-media">
            <fa-icon [icon]="faInstagram"></fa-icon>
            <fa-icon style="padding-left: .75rem;" [icon]="faFacebook"></fa-icon>
        </div>
        <a class="email" href="mailto:ljupkaerg@gmail.com">
            <div>ljupkaerg@gmail.com</div>
        </a>
    </div>
    <div class="language">
        <div class="flag" (click)="changeLanguage('rs')">
            <img src="/assets/flags/rs.svg" title="Srpski" />
        </div>
        <div class="flag" (click)="changeLanguage('en')">
            <img src="/assets/flags/gb.svg" title="English" />
        </div>
    </div>
    <div class="copyright">
        {{ 'SIDEBAR.COPYRIGHT' | translate}}
    </div>
</div>