// BOOTSTRAP
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/transitions";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: Yellowtail;
    src: url(assets/fonts/Yellowtail-Regular.ttf) format("opentype");
}

.standard-container {
    padding: 1rem 0;
}

.layout {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 3rem calc(100% - 3rem);

    @include media-breakpoint-up(md) {
        padding: 0 0 0 15rem;
        grid-template-rows: 100%;
    }

    .menu-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #303641;
        height: 3rem;
        display: flex;

        .toggler-container {
            display: flex;
            height: 100%;
            align-items: center;
            padding-left: .75rem;

            .toggler {
                background-color: unset;
                border: unset;
                color: whitesmoke;
                font-size: 18px;
                transition: color .3s linear;
                cursor: pointer;

                &:hover {
                    color: #A0B4D9;
                }
            }
        }

        .title {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 400;
            font-family: Yellowtail;
            color: whitesmoke;
            white-space: nowrap;
            padding-left: 1rem;

            .title-link {
                color: whitesmoke;
                cursor: pointer;
                text-decoration: none;
            }
        }

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .content {
        grid-row: 2/3;

        @include media-breakpoint-up(md) {
            grid-row: 1/2;
        }
    }
}

.menu-overlay {
    position: fixed;
    height: 100%;
    width: 15rem;

    top: 2.9rem;
    left: 0;

    transition: width .3s linear;

    .menu-overlay-content {
        background-color: #303641;
        height: calc(100% - 2.9rem);
        width: 15rem;
        overflow-x: hidden;
        transition: width .3s linear;

        @include media-breakpoint-up(md) {
            height: 100%;
        }
    }

    &.collapsed {
        width: 0;

        .menu-overlay-content {
            width: 0;

            @include media-breakpoint-up(md) {
                width: 15rem;
            }
        }
    }

    @include media-breakpoint-up(md) {
        top: 0;
    }
}

.times-link {
    color: #FFFFFF;
    transition: color .3s ease-out;
    cursor: pointer;

    &:hover {
        color: #A0B4D9;
    }
}

.modal-dialog-full {
    height: 100vh;
    overflow: hidden !important;

    .modal-dialog {
        max-width: 100% !important;
        margin: 0px;
        padding: 1.75rem;
        height: 100vh;

        .modal-content {
            background-color: transparent;
            border: 0px;
            height: 100%;
        }
    }
}

.modal-backdrop.show {
    opacity: 0.7 !important;
}

.carousel-slide {
    height: 85vh !important;
    padding-bottom: 0 !important;
    background-size: contain !important;
}

.carousel {
    height: 85vh !important;
}

.mat-icon-button.mat-accent {
    color: white;
    transition: color .3s ease-out;
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: .5);

    &:hover {
        color: #A0B4D9;
    }
}