<div class="standard-container">
    <div class="split-container">
        <div class="image">
            <img src="/assets/bio_image.jpg">
        </div>
        <div class="bio">
            <p>
                Ljupka Erg rođena je 10 maja 1978. godine u Novom Sadu. <br /> Diplomirala je grafički dizajn u klasi
                profesora
                Branislava Dobanovačkog 2003 godine na Akademiji umetnosti
                u Novom Sadu. Član je SULUV-a od 2017.
            </p>

            <p>
                Bavi se slikarstvom i muralom, zaposlena je kao profesor likovne kulture u OŠ ”Sveti Sava” u Rumenki.
                <br />
                Izlagala je na grupnim izložbama u Novom Sadu, Gornjem Milanovcu, Majdanpeku, Beogradu, Kisaču, Bačkom
                Petrovcu, Nišu i Staroj Pazovi. Do sada priredila je četiri samostalne izložbe dve u Novom Sadu , jednu
                u
                Rumi i Kisaču.
            </p>

            <p>
                Nagrada Srebrni ex Tempore – na likovnom događaju povodom dodeljenja titule Evropska prestonica kulture
                Gradu Novom Sadu za 2021/22 godinu. DARUM
            </p>

            <p>
                Njeni radovi se nalaze u privatnim kolekcijama u Sloveniji, Mađarskoj, Slovačkoj, Nemačkoj, Italiji,
                Kanadi
                i Australiji.
            </p>



        </div>
    </div>
</div>