<div class="standard-container">
    <div class="split-container">
        <div class="image">
            <img src="/assets/bio_image.jpg">
        </div>
        <div class="bio">
            <p>
                {{ 'CV.TEXT_1' | translate}}
            </p>

            <p>
                {{ 'CV.TEXT_2' | translate}}
            </p>

            <p>
                {{ 'CV.TEXT_3' | translate}}
            </p>

            <p>
                {{ 'CV.TEXT_4' | translate}}
            </p>
        </div>
    </div>
</div>